:root,
.theme-dark {
  --main-node-rgb: 190, 0, 255;
  --main-node: rgb(var(--main-node-rgb));
  --main-node-hover-rgb: 106, 38, 254;
  --main-node-hover: rgb(var(--main-node-hover-rgb));
  --tags-rgb: 158, 238, 241;
  --tags: rgb(var(--tags-rgb));
  --external-link-rgb: 210, 232, 130;
  --external-link: rgb(var(--external-link-rgb));
  --external-link-hidden-rgb: 197, 235, 131;
  --external-link-hidden: rgba(var(--external-link-hidden-rgb), 0.3);
  --main-background-rgb: 36, 36, 36;
  --main-background: rgb(var(--main-background-rgb));
  --secondary-background-rgb: 27, 27, 27;
  --secondary-background: rgb(var(--secondary-background-rgb));
  --secondary-background-low-opacity: rgba(
    var(--secondary-background-rgb),
    0.329
  );
  --attachments-rgb: 188, 235, 105;
  --attachments: rgb(var(--attachments-rgb));

  --accent-1-rgb: 112, 76, 245;
  --accent-2-rgb: 161, 76, 245;
  --accent-3-rgb: 228, 130, 237;
  --accent-4-rgb: 222, 98, 170;
  --accent-5-rgb: 222, 172, 98;
  --accent-6-rgb: 183, 222, 98;
  --accent-1: rgb(var(--accent-1-rgb));
  --accent-2: rgb(var(--accent-2-rgb));
  --accent-3: rgb(var(--accent-3-rgb));
  --accent-4: rgb(var(--accent-4-rgb));
  --accent-5: rgb(var(--accent-5-rgb));
  --accent-6: rgb(var(--accent-6-rgb));

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  --text-normal: rgb(201, 201, 201);
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  --text-on-accent: black;

  --background-modifier-error: #2d2dcf;
  --background-modifier-error-hover: #2020a7;
  --text-highlight-bg: #b35fe9;
}

:root,
.theme-light {
  --main-background: #f5f5f5;
  --secondary-background: #e2e2e2;
  --secondary-background-low-opacity: #e2e2e254;
  --main-node: #a500de;
  --accent-3: #ad3ab7;
  --accent-4: #c5368a;
  --accent-5: #ad7f3c;
  --external-link: #7a8e30;
  --external-link-hidden: #7a8e3099;

  /* Overriding Obsidian Variables */
  --default-font: 'JetBrains Mono', monospace;
  --font-monospace: var(--default-font);
  // --text-normal: #c9c9c9;
  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);
  --interactive-accent: var(--main-node);
  --interactive-accent-hover: var(--main-node-hover);
  // --text-on-accent: black;

  --background-modifier-error: #2d2dcf;
  --background-modifier-error-hover: #2020a7;
  --text-highlight-bg: #b35fe9;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: 'liga' on, 'calt' on;
  font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'JetBrains Mono';
}
